.banner-image{
    background-image:  url(../img/casinha.jpg);
    background-size: cover;
}
.alinhamento{
	text-align: center;
    padding-top: 120px;
}
hr{
    text-align: center;
    width: 50%;
}
img.card-img-top.imagem {
    height: 14rem;
}
.container{
    padding-top: 20px;
}
.barra {
    font-size: 19px;
    display: flex;
    justify-content: space-around;
    color: white;
    gap: 8px;
}
.card-body {
    padding: 0;
    margin: 0;
}
.info.d-flex {
    background: rgb(84, 139, 182);
    padding: 15px;
    gap: 1rem;
}
.margin {
    margin: 14px 21px;
}
.valor{
    color: rgb(84, 139, 182);
}
/*Icones*/
.fa-bed:before {
    content: "\f236";
    position: relative;
    top: 5px;
}

.fa-solid.fa-car {
    position: relative;
    position: relative;
    top: 5px;
}
.fa-solid.fa-house{
    position: relative;
    top: 5px;
}
.quadrado{
	
	padding: 5rem 2.5rem;
	border-radius: 1rem;
	border: 1px solid rgb(197, 206, 212);
	backdrop-filter: blur(1rem);
	box-shadow: 1.3rem 1.3rem 4.3rem rgba(255, 253, 253, 0.5);
	margin-top: 120px;
    
}
.footer{
    width: 100%;
    height: auto;
    padding: 50px 50px;
    background: rgb(99,149, 204) url(imagem/cidadeRodape.png) bottom center no-repeat;

}

.footer2{
    max-width: 1260px;
    margin-left: auto;
    margin-right: auto;
}

.col {
    font-size: 134%;
}

.atendimento{
    gap: 2%;
}

.tam{
    font-size: 162%;
}
.logo{
    width: 79%;
    height: 89%;
}

.cor{
    color: white;
}